body {
  font-family: "Courier New", Courier, monospace;
}
header {
  border: solid 2px;
  margin: 5px;
  text-align: center;
  background-color: darkblue;
}
h2 {
  color: white;
}
/*nav*/
.cabecera {
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  min-height: 150px;
  background-color: lightblue;
}
/*Formulario de Login*/
form {
  margin-bottom: 0;
}
.login input {
  margin: 1em;
  padding: 5px;
  width: 200px;
}
#incompleto {
  margin: 1px auto;
  max-width: 200px;
  color: red;
  border: solid;
}
/*Botones*/
header input {
  margin: 0.5em;
  margin-top: 50px;
  padding: 10px;
  width: 100px;
  border-radius: 12px;
}
/*Main*/
.cuerpo {
  border: solid 2px black;
  margin: 5px;
  min-height: 300px;
  overflow: auto;
  background-color: darkblue;
  color: white;
}
/*Titulos de secciones*/
h3 {
  margin-left: 20px;
}
ol {
  margin-top: 0;
  margin-left: 1em;
  float: left;
  list-style: none;
  list-style-position: center;
}

/*Matricula Form*/
.formMatricula {
  margin-left: 2em;
}
.formMatricula input {
  margin: 0.5em;
  padding: 5px;
  width: 200px;
  border-radius: 12px;
}
/*Generardor Examen Form*/
.tableGenerator {
  width: 75%;
  float: left;
  margin-left: 5%;
}
.formExam {
  float: left;
  background-color: lightblue;
  width: 15%;
  height: 50%;
  margin: 5px;
  padding-top: 1em;
  border: solid 1px black;
}
span {
  margin-left: 1em;
}
.formexam input {
  margin: 0.5em;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 12px;
}
/*Tablas*/
#tablaexamenes,
#tableAlumnos {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  color: white;
}
#tablaexamenes td,
#tablaexamenes th,
#tableAlumnos td,
#tableAlumnos th {
  border-bottom: 1px solid gainsboro;
  color: white;
  padding: 0.5em;
}
