header{
  border: solid 2px;
  margin: 5px;
  text-align: center;
  background-color: darkblue;
}
h2{
  color: white;
}
/*nav*/
.cabecera {
  border: solid 2px;
  margin: 5px;
  padding: 5px;
  min-height: 150px;
  background-color: lightblue;
}
/*Formulario de Login*/
form {
  margin-bottom: 0;
}
.login input{
  margin: 1em;
  padding: 5px;
  width: 200px;
}
#incompleto{
  margin: 1px auto;
  max-width: 200px;
  color:red;
  border:solid;
  }
/*Botones*/
input {
  margin: 0.5em;
  margin-top: 50px;
  padding: 10px;
  width: 100px;
  border-radius: 12px;
}
/*Main*/
.cuerpo {
  border: solid 2px black;
  margin: 5px;
  min-height: 300px;
  overflow: auto;
  background-color: darkblue;
  color: white;
}
/*Titulos de secciones*/
h3 {
  margin-left: 20px;
}
ol {
  margin-top: 0;
  margin-left: 1em;
  float: left;
  list-style: none;
  list-style-position: center;
}
span{
  margin-left: 1em;
}
/*Apartado 1*/
.nomApe {
  margin-left: 2.5em;
  border-bottom: solid 2px;
  width: 250px;
}
/*Apartado2*/
.formMatricula{
  margin-left: 2em;
}
.formMatricula input{
  margin: 0.5em;
  padding: 5px;
  width: 200px;
  border-radius: 12px;
}
/*Apartado 3*/
label pre{
  margin-left: 2em;
}
label input{
  margin-top: 0;
}
/*Apartado 4*/
.nomApeNota {
  margin-left: 2.5em;
  border-bottom: solid 2px;
  width: 500px;
}
